<div class = "profile-banner">
  <h1>Edit Your <%= @flat.name %></h1>
</div>
<div class="form-container">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-8 d-flex form booking-edit-card-img" style="align-self: center">
        <%= cl_image_tag @flat.photo.key %>
      </div>
      <div class="col-6 col-md-4 d-flex form">
        <%= simple_form_for @flat do |f| %>
        <div class="form-inputs">
          <%= f.input :name %>
          <%= f.input :address %>
          <%= f.input :description %>
          <%= f.input :occupancy %>
          <%= f.submit(class: 'standard-button') %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


