<div class = "profile-banner">
  <h1>Add a new property</h1>
</div>
<div class="form-container">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-8 form">
        <%= simple_form_for @flat do |f| %>

            <%= f.input :name %>
            <%= f.input :address %>
            <%= f.input :description %>
            <%= f.input :occupancy %>
            <%= f.input :photo, as: :file %>
            <% if current_user %>
            <%= f.hidden_field :user_id, value: current_user.id%>
            <% end %>
            <%= f.submit(class: 'standard-button')%>

          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

