<h1> Create a New Flat </h1>

<%= simple_form_for @flat do |f| %>
<%= f.input :name %>
<%= f.input :address %>
<%= f.input :description %>
<%= f.input :occupancy %>
<% if current_user %>
<%= f.hidden_field :user_id, value: current_user.id%>
<% end %>
<%= f.submit %>
<% end %>
