<h1> <%= @flat.name %> </h1>

<%= cl_image_tag @flat.photo.key, height: 300, width: 400, crop: :fill %>

  <p> <%= @flat.address %> <br>
  <%= @flat.description %> <br>
  <%= @flat.occupancy %>
  </p>

<%= link_to 'New Booking',  new_flat_booking_path(@flat) %>
<%= link_to 'Edit Flat',  edit_flat_path(@flat) %>
<%= link_to 'Back to Flats',  flats_path %>
<%= link_to  "Delete", flat_path(@flat), class: 'button',
            method: :delete, data: { confirm: 'Are you sure?' } %>
