<h1> <%= @flat.name %> </h1>

  <p> <%= @flat.address %> <br>
  <%= @flat.description %> <br>
  <%= @flat.occupancy %>
  </p>

<%= link_to 'New Booking',  new_flat_booking_path(@flat) %>
<%= link_to 'Edit Booking',  edit_flat_path(@flat) %>
<%= link_to  "Delete", flat_path(@flat), class: 'button',
            method: :delete, data: { confirm: 'Are you sure?' } %>
