<div class = "profile-banner">
  <div class = "container">
  </div>
</div>


<div class = "container">
  <div class = "show-card">
    <div class = "show-card-img">
      <%= cl_image_tag @flat.photo.key %>
    </div>
    <div class = "show-card-desc">
      <div>
        <h3> <%= @flat.name %> </h3>
        <p> <%= @flat.address %> <br>
        <%= @flat.description %> <br>
        Sleeps <%= @flat.occupancy %>
        </p>
        <%= link_to 'New Booking',  new_flat_booking_path(@flat), class: "standard-button" %>
      </div>
    </div>
  </div>
</div>
