<div class = "profile-banner">
  <div class = "container">
    <h1><%= @user.first_name %> <%= @user.last_name %></h1>
  </div>
</div>

<div class = "container">
  <div class = "profile-content">
    <div class = "profile-card">
      <h2>My Bookings</h2>
      <% @user.bookings.each do |booking| %>
        <div class = "profile-flat-card">
          <%= cl_image_tag booking.flat.photo.key, height: 150, width: 150, crop: :fill %>
          <div class = "profile-flat-card-desc">
            <p><strong><%= booking.flat.name %></strong></p>
            <p>booked from:</p>
            <p><%= booking.date_from %> to <%= booking.date_to %></p>
            <p>for <%= booking.guests %> guests</p>
          </div>
        </div>
      <% end %>
    </div>

    <div class = "profile-card">
      <h2>My Flats</h2>
      <% @user.flats.each do |flat| %>
        <div class = "profile-flat-card">
          <%= cl_image_tag flat.photo.key, height: 150, width: 150, crop: :fill %>
          <div class = "profile-flat-card-desc">
            <p><strong><%= flat.name %></strong></p>
            <p><%= flat.address %></p>
            <p>Listed occupancy: <%= flat.occupancy %></p>
            <%= link_to 'Edit Flat', edit_flat_path(flat), class: 'small-button' %>
            <%= link_to  "Delete", flat_path(flat), class: 'small-button',
                method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
      <% end %>
      <%= link_to 'Create new listing', new_flat_path, class: "standard-button" %>
    </div>
  </div>
</div>